AGENT_TEST_MODE=true
BYPASS=true

# WP PHPUnit / MySQL test database
WP_TESTS_DB_NAME=wordpress_tests_form2sms
WP_TESTS_DB_USER=root
WP_TESTS_DB_PASSWORD=
WP_TESTS_DB_HOST=localhost
WP_TESTS_DB_CHARSET=utf8mb4
WP_TESTS_DB_COLLATE=

